body{
    background-image:url("sao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.video{

    margin-top: -1.5%;
    display: block;
}
#Történet{
    margin-top: -2%;
    font: italic 30px bold Arial;
    color: whitesmoke;
    text-shadow: 2px 2px black;
 text-align: start;
}
h1{
  text-align: left;
  margin-top: 3%;
  font: arial small-caps;
  font-size: 60px;
  color:whitesmoke;
}
#oldalra{
    margin-left: -23%;
    margin-top: -14%;
    text-align: center;
    font: 40px arial bold italic small-caps;
    color:aliceblue;
    text-shadow: 3px 3px black;
}
#vélemény{
    margin-left: 11%;
    margin-top: -2%;
    text-align: center;
    color: white;
    font: 20px arial bold;
    text-shadow: 2px 2px black;
}
#balra{
    margin-top: -1%;
    margin-left: -6%;
    text-align: center;
    font: 20px arial bold;
    color:whitesmoke;
    text-shadow: 2px 2px black;
}
#bal{
    margin-top: -1%;
    text-align: center;
    margin-left: -21.5%;
    font: 20px arial bold;
    color:whitesmoke;
    text-shadow: 2px 2px black;
}
#sao2története{
    margin-top: -2.6%;
    text-align: left;
    font: arial small-caps;
    font-size: 60px;
    color:whitesmoke;
    text-shadow: 2px 2px black;
}
#sao2story{
    margin-top: -3%;
    font: italic 30px arial small-caps bold ;
    color:whitesmoke;
    text-shadow: 2px 2px black;
}
#sao2{
    margin-top: 5%
}
button{
    background: none;
    border-style: none;
}
a{
    font: small-caps bold italic 32px Arial;
    color:aliceblue;
    text-shadow: 3px 2.5px black;  
}
#Vélemények{
    text-align: center;
    font-size: 40px;
    font: arial bold;
   color:whitesmoke;
   margin-top: -3%;
   margin-right: 38.5%;
   text-shadow: 3px 5px black;
}
#vélemény{
    margin-left: 13%;
}
#sao2video{
    margin-top: -1.5%;
    display: block;
}
#Sao2Vélemény{
    margin-left: 25.5%;
    margin-top: -14%;
    font-size: 40px;
    font: arial bold;
   color:whitesmoke;
   text-shadow: 3px 3px black;
 }
#sao2vélemények{
    margin-left: 25%;
    margin-top: -2%;
    text-align: center;
    color: white;
    font: 20px arial bold;
    text-shadow: 2px 2px black;
}

